/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE STYLES */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.site-header {
    background-color: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.main-nav {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

.main-nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.main-nav a:hover {
    text-decoration: underline;
}

.hero {
    padding: 80px 20px;
    text-align: center;
    background-color: rgb(79, 79, 147);
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}

.hero button {
    background-color: #111;
    color: #fff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1rem;
}

.hero button:hover {
    background-color: #333;
}

.services {
    padding: 60px 20px;
    text-align: center;
    background-color: #fff;
}

.services-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap; /* allows items to wrap on smaller screens */
    margin-top: 30px;
}

.service-item {
    background-color: #38728a;
    padding: 25px;
    flex: 1 1 250px; /* flexible width */
    border-radius: 8px;
}

.service-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}


/* MOBILE / SMALL SCREEN RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .main-nav a {
        display: block;
        margin: 10px 0;
    }

    .hero h2 {
        font-size: 1.5rem;
    }

    .services-container {
        flex-direction: column;
        gap: 20px;
    }
}

